.container {
    text-align: center;
    margin-top: 50px;
    font-size: 1.5em; /* Aumenta el tamaño de fuente en 1.5 veces el tamaño por defecto */
    background-color: #add8e6; /* Color de fondo azul claro */
}

input, button {
    margin: 10px;
    font-size: 1em; /* Aumenta el tamaño de fuente en 1 vez el tamaño por defecto */
}